

# PROJECT: INVESTIGATE IMDB MOVIE DATASET

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
.

> The dataset consists of meta details about the movies and tv shows such as the title, director, and cast of the shows / movies. Details such as the release year, the rating, duration etc. As the first step, let's load the dataset, create some new features. In this kernel, I have analysed this dataset to find top insights and findings.

### Analysis will be based on the below questions:

 - Popular genre and also year to year and most popular Movie
 - Which movies made the most profit? Profit will be Budgeted less Revenue
 - Are movies with higher budgets more profitable?
 - Does movie budget have any impact on its popularity?
 - Does the movie runtime affect the cost of the production?
 - Which year or decade had the most movie release?
 - Is there a correlation between a movie runtime and popularity?Average runtime of most movies
 - Is there any correlation between vote count and popularity?
 - Relationship between the budget and popularity
 - Does the Director have any impact on a movies success (Popularity/Revenue)
 - Change in Total revenues across years (categorize years into decades i.e. 1960s, 1970s, etc)
 - Does the popularity of the movie influence the revenue?

In [143]:
# This cell sets up import statements for all of the packages that you
# plan to use. Include a 'magic word' so that your visualizations are plotted
# inline with the notebook.

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_theme()

df_movies = pd.read_csv('tmdb_movies.csv')
df_movies.head().T

,0,1,2,3,4
id,135397,76341,262500,140607,168259
imdb_id,tt0369610,tt1392190,tt2908446,tt2488496,tt2820852
popularity,32.985763,28.419936,13.112507,11.173104,9.335014
budget,150000000,150000000,110000000,200000000,190000000
revenue,1513528810,378436354,295238201,2068178225,1506249360
original_title,Jurassic World,Mad Max: Fury Road,Insurgent,Star Wars: The Force Awakens,Furious 7
cast,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Vin Diesel|Paul Walker|Jason Statham|Michelle ...
homepage,http://www.jurassicworld.com/,http://www.madmaxmovie.com/,http://www.thedivergentseries.movie/#insurgent,http://www.starwars.com/films/star-wars-episod...,http://www.furious7.com/
director,Colin Trevorrow,George Miller,Robert Schwentke,J.J. Abrams,James Wan
tagline,The park is open.,What a Lovely Day.,One Choice Can Destroy You,Every generation has a story.,Vengeance Hits Home
keywords,monster|dna|tyrannosaurus rex|velociraptor|island,future|chase|post-apocalyptic|dystopia|australia,based on novel|revolution|dystopia|sequel|dyst...,android|spaceship|jedi|space opera|3d,car race|speed|revenge|suspense|car
overview,Twenty-two years after the events of Jurassic ...,An apocalyptic story set in the furthest reach...,Beatrice Prior must confront her inner demons ...,Thirty years after defeating the Galactic Empi...,Deckard Shaw seeks revenge against Dominic Tor...
runtime,124,120,119,136,137
genres,Action|Adventure|Science Fiction|Thriller,Action|Adventure|Science Fiction|Thriller,Adventure|Science Fiction|Thriller,Action|Adventure|Science Fiction|Fantasy,Action|Crime|Thriller
production_companies,Universal Studios|Amblin Entertainment|Legenda...,Village Roadshow Pictures|Kennedy Miller Produ...,Summit Entertainment|Mandeville Films|Red Wago...,Lucasfilm|Truenorth Productions|Bad Robot,Universal Pictures|Original Film|Media Rights ...
release_date,6/9/15,5/13/15,3/18/15,12/15/15,4/1/15
vote_count,5562,6185,2480,5292,2947
vote_average,6.5,7.1,6.3,7.5,7.3
release_year,2015,2015,2015,2015,2015
budget_adj,137999939.280026,137999939.280026,101199955.472019,183999919.040035,174799923.088033
revenue_adj,1392445892.5238,348161292.489031,271619025.407628,1902723129.80182,1385748801.47052

In [144]:
df_movies.shape #No.of columns and rows [columns: 22, rows: 10866]

(10866, 21)

In [145]:
# dropping multiple columns from imdb dataset. For this particular analysis this columns aren't needed.
df_movies.drop(['homepage', 'tagline', 'keywords', 'overview', 'production_companies'], axis=1, inplace=True)

# confirm changes
df_movies.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

In [146]:
df_movies.shape #No.of columns and rows [columns: 16, rows: 10866]

(10866, 16)

In [147]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10866 non-null  int64
 1   imdb_id         10856 non-null  object
 2   popularity      10866 non-null  float64
 3   budget          10866 non-null  int64
 4   revenue         10866 non-null  int64
 5   original_title  10866 non-null  object
 6   cast            10790 non-null  object
 7   director        10822 non-null  object
 8   runtime         10866 non-null  int64
 9   genres          10843 non-null  object
 10  release_date    10866 non-null  object
 11  vote_count      10866 non-null  int64
 12  vote_average    10866 non-null  float64
 13  release_year    10866 non-null  int64
 14  budget_adj      10866 non-null  float64
 15  revenue_adj     10866 non-null  float64
dtypes: float64(4), int64(6), object(6)
memory usage: 1.3+ MB

 - from the above data types release date is a string which need to be converted into a datetime type. I think i'll leave the release year as an integer though.
 - I also think i should create a new ID_TITLE that'll concatenate the imdb_id and the original_title and delete the ID column.

# Cleaning the data

 - I'll start by finding the null values if any in the columns and rows.
 - Also find the duplicated values if any
 - Perform the datetime conversion

In [148]:
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], format='%m/%d/%y', errors='ignore')

In [149]:
df_movies.head().T

,0,1,2,3,4
id,135397,76341,262500,140607,168259
imdb_id,tt0369610,tt1392190,tt2908446,tt2488496,tt2820852
popularity,32.985763,28.419936,13.112507,11.173104,9.335014
budget,150000000,150000000,110000000,200000000,190000000
revenue,1513528810,378436354,295238201,2068178225,1506249360
original_title,Jurassic World,Mad Max: Fury Road,Insurgent,Star Wars: The Force Awakens,Furious 7
cast,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Vin Diesel|Paul Walker|Jason Statham|Michelle ...
director,Colin Trevorrow,George Miller,Robert Schwentke,J.J. Abrams,James Wan
runtime,124,120,119,136,137
genres,Action|Adventure|Science Fiction|Thriller,Action|Adventure|Science Fiction|Thriller,Adventure|Science Fiction|Thriller,Action|Adventure|Science Fiction|Fantasy,Action|Crime|Thriller
release_date,2015-06-09 00:00:00,2015-05-13 00:00:00,2015-03-18 00:00:00,2015-12-15 00:00:00,2015-04-01 00:00:00
vote_count,5562,6185,2480,5292,2947
vote_average,6.5,7.1,6.3,7.5,7.3
release_year,2015,2015,2015,2015,2015
budget_adj,137999939.280026,137999939.280026,101199955.472019,183999919.040035,174799923.088033
revenue_adj,1392445892.5238,348161292.489031,271619025.407628,1902723129.80182,1385748801.47052

In [150]:
df_movies["id_title"]= df_movies["imdb_id"].str.cat(df_movies["original_title"], sep =", ")
df_movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,id_title
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,"tt0369610, Jurassic World"
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,120,Action|Adventure|Science Fiction|Thriller,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,"tt1392190, Mad Max: Fury Road"
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,119,Adventure|Science Fiction|Thriller,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,"tt2908446, Insurgent"
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,136,Action|Adventure|Science Fiction|Fantasy,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,"tt2488496, Star Wars: The Force Awakens"
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,137,Action|Crime|Thriller,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,"tt2820852, Furious 7"

In [151]:
df_movies['genres'].head().T

0    Action|Adventure|Science Fiction|Thriller
1    Action|Adventure|Science Fiction|Thriller
2           Adventure|Science Fiction|Thriller
3     Action|Adventure|Science Fiction|Fantasy
4                        Action|Crime|Thriller
Name: genres, dtype: object

In [152]:
df_movies.isnull().sum(axis=0) #Missing values

id                 0
imdb_id           10
popularity         0
budget             0
revenue            0
original_title     0
cast              76
director          44
runtime            0
genres            23
release_date       0
vote_count         0
vote_average       0
release_year       0
budget_adj         0
revenue_adj        0
id_title          10
dtype: int64

In [153]:
df_movies.isnull().sum(axis=1).info()

<class 'pandas.core.series.Series'>
RangeIndex: 10866 entries, 0 to 10865
Series name: None
Non-Null Count  Dtype
--------------  -----
10866 non-null  int64
dtypes: int64(1)
memory usage: 85.0 KB

In [168]:
df_movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'director', 'runtime', 'genres', 'release_date', 'vote_count',
       'vote_average', 'release_year', 'budget_adj', 'revenue_adj',
       'id_title'],
      dtype='object')

In [154]:
sum(df_movies.duplicated()) #duplicated_values

1

In [155]:
df_movies.dtypes

id                         int64
imdb_id                   object
popularity               float64
budget                     int64
revenue                    int64
original_title            object
cast                      object
director                  object
runtime                    int64
genres                    object
release_date      datetime64[ns]
vote_count                 int64
vote_average             float64
release_year               int64
budget_adj               float64
revenue_adj              float64
id_title                  object
dtype: object

In [156]:
df_movies.nunique()

id                10865
imdb_id           10855
popularity        10814
budget              557
revenue            4702
original_title    10571
cast              10719
director           5067
runtime             247
genres             2039
release_date       5909
vote_count         1289
vote_average         72
release_year         56
budget_adj         2614
revenue_adj        4840
id_title          10855
dtype: int64

In [157]:
df_movies.director.unique()

array(['Colin Trevorrow', 'George Miller', 'Robert Schwentke', ...,
       'Alan Rafkin', 'Bruce Brown', 'Harold P. Warren'], dtype=object)

In [158]:
#Extract all genres and put in one string but separated with the pipe character '|'
#df_genres = df_movies['genres'].str.cat(sep = '|')
#df_genres

In [159]:
#df_movie_genres = pd.Series(df_genres.split('|'))
#df_movie_genres

In [160]:
#info = df_movie_genres.value_counts(ascending = False)
#info

In [161]:
#movie_genre = pd.DataFrame(info,columns =['number_of_movies'])
#movie_genre

In [162]:
df_movies['release_date'].isnull().any()

False

In [163]:
#df_movies.dtypes

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [164]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [165]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [166]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [167]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!